@import "base/variables";
@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/advantage";


body {
  font-family: "Museo", sans-serif;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}