.advantages {
  min-height: 470px;
  padding: 70px 0 64px 0;
  background-color: #F6F6F6;
  &__header {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #0d0d0d;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
  }
}
