.promo {
  min-height: 650px;
  padding: 40px 0;
  background: url(../img/bg.jpg) center center/cover no-repeat;
  &__wrapper {
    margin-top: 91px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__header {
    font-weight: 700;
    font-size: 42px;
    line-height: 42px;
    text-transform: uppercase;
    color: #fff;
  }
  &__subheader {
    margin-top: 17px;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
  }
  &__icons {
    margin-top: 60px;
    width: 424px;
    display: flex;
    justify-content: space-between;
  }
  &__icon {
    width: 110px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
  &__link {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}
