.reviews {
  padding-bottom: 80px;
  &-item {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    &__round {
      width: 169px;
      height: 169px;
      img {
        width: 100%;
      }
    }
    &__block {
      width: 70%;
    }
    &__title {
      font-weight: 700;
      font-size: 18px;
      color: #0d0d0d;
    }
    &__subtitle {
      font-weight: 500;
      font-size: 14px;
      color: #646464;
    }
    &__descr {
      margin-top: 20px;
      font-weight: 300;
      font-size: 16px;
      color: #0d0d0d;
    }
  }
}
